
@import '../../../scss/main.scss';

.main-container {
    background-color: $color-home-grey;
    height: 100vh;
    width: 100vw;
}

.login {
    background-color: #fff;
    max-width: 32rem;
    height: 42rem;
    position: relative;
    border-radius:5px;
    margin: 10rem auto;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

    &__header {
        background-color: $color-form-blue;
        color: #fff;
        width: 32rem;
        height: 4rem;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    &__form {
        color: black;
        margin: 2rem; 
    }

    &__submit {
        margin-top: 3rem;
        justify-content: space-around;
    }

    &__forget {
        margin-top: 1rem;
        justify-content: space-between;
    }
}
  
.full-width {
    width: 100%;
}


