.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 93vh;
  width: 100vw;
  z-index: 10;
  .loader {
    @include absCenter();
    border: 8px solid $color-loader-border;
    border-top: 8px solid $color-loader-blue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

.error {
  background-color: rgba(238, 238, 238, 0.5);
  color: #ff0000;
  padding: 3px;
  padding-left: 5px;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
}