
$card-height: 45rem;

.quiz-container {
    max-height: 51.2rem;
    overflow: hidden;
}
.quiz {
    padding: 0 1rem;
}

.options {
    min-width: 25rem;
    width: 20vw;

    &--item {
        // height: 3rem;
        // align-items: center;
        // justify-content: flex-start;
        // padding: 0 1rem;
        margin: 0.5rem;
        width: 26rem;
        // border-radius: 5px;
        // box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
        // cursor: pointer;
    }

    &--selected {
        box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
        background-color: aquamarine;
    }
}

.question {
    width: 48vw;
    height: $card-height;
    padding: 2rem;
    justify-content: space-around;

    &__bottom {
        padding-left: 7rem;
    }
    &__action {
        justify-content: center;
        width: 60rem;

        &--item:not(:last-child) {
            margin-right: 10rem;
        }
    }
}

.score {
    width: 21vw;
    height: $card-height;
    padding: 2rem 1rem;
    justify-content: space-around;

    &__view-ans {
        margin: 10rem 6rem;
    }
}

.score-btn {
    height: 10rem;
    width: 10rem;
    font-size: 6rem;
}

.quiz--item {
    margin: 1rem 0.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 12rem; 
    margin: auto;
    margin-top: 6rem;
}

.radio-button {
    margin: 5px;
}

.radio-group {
    margin: 15px 0;
}
.mat-card-header {
    justify-content: center;
}