<div class="quiz-container flex-col">
    <div class="quiz flex">
        <mat-card class="options flex-col quiz--item">
            <ng-container *ngFor="let question of questions; let index=index">
                <button mat-raised-button class="options--item flex" *ngIf="selected==index"
                    (click)="selectQuestion(question, index)" color="primary"
                    >Question {{index + 1}}
                </button>
                <button mat-raised-button class="options--item flex" *ngIf="selected!=index"
                    (click)="selectQuestion(question, index)"
                    >Question {{index + 1}}
                </button>
            </ng-container>
        </mat-card>
        <mat-card class="question flex-col  quiz--item">
            <ng-container *ngIf="selectedQuestion">
                <mat-card class="flex-col question__top question__card--item">
                    <mat-card-subtitle>Category : {{selectedQuestion.category}}</mat-card-subtitle>
                    <mat-card-subtitle>Difficulty : {{selectedQuestion.difficulty}}</mat-card-subtitle>
                    <mat-card-subtitle>Type : {{selectedQuestion.type}}</mat-card-subtitle>
                </mat-card>
                <mat-card class="flex-col question__card--item">
                    <div class="question--item flex">
                        <div class="question__section flex-col">
                            <mat-card-title>{{selectedQuestion.question}}</mat-card-title>
                            <div class="question__option flex">
                                <mat-radio-group aria-labelledby="answers" class="flex-col radio-group" [disabled]="disableSubmit"
                                    [value]="selectedQuestion.selectedAns" (change)="ansSelected($event.value)">
                                    <mat-radio-button class="radio-button" *ngFor="let ans of selectedQuestion?.ans"
                                        [value]="ans">
                                        {{ans}}
                                    </mat-radio-button>
                                </mat-radio-group>
                                <div class="question__option__correct-ans flex" *ngIf="viewCorrectAnswer">
                                    <mat-chip color="primary" class="correct" selected>{{selectedQuestion.correct_answer}}</mat-chip>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="flex question__action question__card--item">
                    <button mat-raised-button color="primary" class="question__action--item" [disabled]="selected==0"
                        (click)="previous()">Previous</button>
                    <button mat-raised-button color="primary" class="question__action--item" [disabled]="selected==9"
                        (click)="next()">Next</button>
                    <button mat-raised-button color="primary" [disabled]="disableSubmit"
                        class="question__action--item" (click)="submit()" >Submit
                        Quiz</button>
                </mat-card>
            </ng-container>
        </mat-card>
        <mat-card class="score flex-col  quiz--item" *ngIf="scoreSubmited">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>polymer</mat-icon> Score Card
                </mat-card-title>
            </mat-card-header>
            <div class="button-container">
                <button mat-mini-fab color="primary" aria-label="score icon" class="score-btn">{{score}}</button>
            </div>
            <div class="score__view-ans flex">
                <button mat-raised-button color="primary" (click)="showCorrecAnswer()">View Correct Answer</button>
            </div>
        </mat-card>
    </div>
</div>