<div class="main-container flex">

    <div class="password flex-col">
        <div class="password__header flex">Change Password</div>
        <div class="password__form flex-col" [formGroup]="passwordForm" >

            <mat-form-field class="full-width password__email">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="passwordForm.get('email').hasError('email') && !passwordForm.get('email').hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="passwordForm.get('email').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width password__password">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [errorStateMatcher]="matcher" type="password">
                <mat-error *ngIf="passwordForm.get('password').hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width password__confirm-password">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" [errorStateMatcher]="matcher" type="password">
                <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <div class="error" *ngIf="passwordForm.get('confirmPassword').dirty && passwordForm.hasError('passwordNotMatch')" >Password does not match</div>
            
            <button mat-raised-button color="primary" class="password__submit flex" 
                [disabled]="passwordForm.invalid" type="submit" (click)="onSubmit()" >Change Password</button>
            <div class="password__forget flex">
                <button mat-button color="primary" routerLink="/login">Back</button>
                <button mat-button color="primary" (click)="reset()" >Reset</button>
            </div>

        </div>
    </div>
</div>